html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: white;
  overflow: hidden;
}

/* --- NAV --- */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 5vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  z-index: 100;
  font-family: "Inter", sans-serif;
  background: transparent;
}

.nav-left {
  color: #000000;
  font-weight: 500;
}

.nav-left a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.nav-right {
  display: flex;
  gap: 30px;
}

.nav-right a {
  text-decoration: none;
  color: #6f6f6f;
  font-weight: 400;
  transition: color 0.3s ease;
}

.nav-right a:hover {
  color: #111;
}

/* --- CONTENIDO HERO --- */
.contenedor {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#contenido {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
  font-family: "Inter", sans-serif;
  z-index: 50;
}

#contenido h1 {
  line-height: 1.18;
  font-family: "Baskervville", serif;
  font-size: 2.7rem;
  font-weight: normal;
  color: #111;
  margin-bottom: 10px;
}

#contenido h2 {
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #919191;
  margin-bottom: 40px;
}

#contenido p {
  max-width: 900px;
  margin: 0 auto 20px auto;
  font-size: 1rem;
  line-height: 1.5;
  color: #1f1f1f;
}

#ingresarBtn {
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #7b9cc6;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.08em;
  transition: background-color 0.3s ease;
}

#ingresarBtn:hover {
  background-color: #6b8ab2;
}

.mapa-wrapper {
  position: relative;
  height: 100vh;
}

.imagen-mapa {
  height: 105%;
  width: auto;
  min-width: 100%;
  max-width: none;
  display: block;
  pointer-events: none;
}

.overlay-puntos {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

body.zoom-dirigido {
  animation: zoomDirigido 0.6s ease forwards;
}

body.animar-zoom-out {
  animation: zoomOut 0.6s ease forwards;
}

@keyframes zoomDirigido {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}

